.need{
    padding-top: 17px;
}
.need ul li{
    display: none;
}
.need:hover ul li{
    display: block;
}


.container-fluid{
    background-color: skyblue;
}
.navbar-collapse{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

