{%extends 'app1/home.html'%}
{%load static%}
{%block body_block%}
<style>
    p{
        margin-bottom: 30px;
    }
    .special{
        display:grid;
        grid-template-columns: 0.3fr 0.65fr 0.1fr;
    }
</style>
<img src="{%static "images/banner1.png"%}" height="400px" width="100%">
<center>
<p></p>
<h1>ABOUT US</h1>
<p>Academy offers practice exercises, instructional videos, and a personalized learning 
    dashboard that empower learners to study at their own pace in and outside of the classroom. 
    We tackle math, science, computing, history, art history, economics, and more, including K-14 
    and test preparation (SAT, Praxis, LSAT) content. We focus on skill mastery to help learners 
    establish strong foundations, so there's no limit to what they can learn next!</p>
    
<h3>Vision</h3>
<p>We’re working hard to ensure that Academy empowers coaches of all kinds to better 
    understand what their children or students are up to and how best to help them. 
    See at a glance whether a child or student is struggling or if she hit a streak and is now 
    far ahead of the class. Our teacher dashboard provides a summary of class performance as a 
    whole as well as detailed student profiles.</p>
  
<h3>Mission</h3>
<p>Academy empowers coaches of all kinds to better 
    understand what their children or students are up to and how best to help them. 
    See at a glance whether a child or student is struggling or if she hit a streak and is now 
    far ahead of the class. Our teacher dashboard provides a summary of class performance as a 
    whole as well as detailed student profiles.</p>
    
<h3>Our Specialities</h3>
</center>
<div class="special">
<div></div>
<div>
<ul>
<li>Technologies like Fullstack Development, Python, React JS, Node JS, Web De</li>
<li>With MySQL, Digital Marketing, Java, UI/UX Designing & Development        </li>
<li>Learn Infotech is a Realtime Training Company offering Courses on varied  </li>
<li>Technologies like Fullstack Development, Python, React JS, Node JS, Web De</li>
<li>With MySQL, Digital Marketing, Java, UI/UX Designing & Development        </li>
</ul>
</div>
<div></div>
</div>
<p></p>
<p></p>

<br>
{%endblock%}