{%extends 'app1/home.html'%}
{%load static%}
{%block body_block%}
<link rel="stylesheet" href="{%static "css/style3.css"%}">
<p></p>
<p></p>
<br>
<center>
<h1>LATEST NEWS</h1></center>
<br><p></p>
<b><li class="f">As we sat down to address the challenges and issues raised around the Grants Program and how to 
    better support the Python community, we came to realize that refreshing the program would not be 
    an easy and quick task.</li>
    <li class="f">We need a two-way communication channel dedicated to the topic of grants 
    with the PSF Board, the Grants Working Group, the D&I Working Group, the Code of Conduct Working 
    Group, and most importantly, our vibrant and diverse community.</li>
    <li class="f">We believe a direct line of communication between the PSF and the worldwide Python community is 
    the best first step. In order to create that direct line, gather your feedback, and collaborate 
    on the future of the program, we are establishing regular PSF Grants Program Office Hours!</li>
    <li class="f">We need a two-way communication channel dedicated to the topic of grants 
    with the PSF Board, the Grants Working Group, the D&I Working Group, the Code of Conduct Working</li>
    <li class="f">Group, and most importantly, our vibrant and diverse community.
    Grants Program and how to better support the Python community, we came to realize 
    that refreshing the program would not be 
    an easy and quick task. </li>
    <li class="f">We need a two-way communication channel dedicated to the topic of grants 
    with the PSF Board, the Grants Working Group, the D&I Working Group, the Code of Conduct Working 
    Group, and most importantly, our vibrant and diverse community.</li>
    <li class="f">We believe a direct line of communication between the PSF and the worldwide Python community is 
    the best first step. In order to create that direct line, gather your feedback, and collaborate 
    on the future of the program, we are establishing regular PSF Grants Program Office Hours!</li>
    <li class="f">We need a two-way communication channel dedicated to the topic of grants 
    with the PSF Board, the Grants Working Group, the D&I Working Group, the Code of Conduct Working 
    Group, and most importantly, our vibrant and diverse community.</li>
    <br></b>
{%endblock%}