{%extends 'app1/home.html'%}
{%load static%}
{%block body_block%}
<link rel="stylesheet" href="{%static "css/style2.css"%}">
<h1>Python:</h1>
<div class="descrip">
<div class="xyz">
    <p class="abc"><b>Educational researchers agree that learning is much deeper than memorization and information recall. 
        Deep and long-lasting learning involves understanding, 
        relating ideas and making connections between prior and new knowledge, 
        independent and critical thinking and ability to transfer knowledge 
        to new and different contexts.Students practice at their own pace, 
        first filling in gaps in their understanding and then accelerating their learning.
        Academy have found us effective.Educational researchers agree that learning is much deeper than 
        memorization and information recall. Deep and long-lasting learning involves understanding, 
        relating ideas and making connections between prior and new knowledge, 
        independent and critical thinking and ability to transfer knowledge 
        to new and different contexts.Students practice at their own pace, 
        first filling in gaps in their understanding and then accelerating their learning.
        Academy have found us effective.</b></p>
</div>
<div class="xyz">
    <img src="{%static "images/python.png"%}" height="300px" width="600px">
</div>
</div>
<center><h1>Full Stack</h1></center>
<p></p>
<br>
<center>
<img src="{%static "images/class1.jpg"%}" height="200px" width="300px">
<img src="{%static "images/class2.jpg"%}" height="200px" width="300px">
<img src="{%static "images/class3.jpg"%}" height="200px" width="300px">
<img src="{%static "images/class4.jpg"%}" height="200px" width="300px">
<img src="{%static "images/class2.jpg"%}" height="200px" width="300px">
<img src="{%static "images/class4.jpg"%}" height="200px" width="300px">
<img src="{%static "images/class1.jpg"%}" height="200px" width="300px">
<img src="{%static "images/class3.jpg"%}" height="200px" width="300px">
<P></P>
<br>
<div class="abc2">
    <br>
    <h2>Still searching for what to choose</h2>
    <p>Across the globe, 617 million children are missing basic math and reading skills. 
      We’re a nonprofit delivering the education they need, and we need your help. 
      You can change the course of a child’s life.</p>
      <a href="/contact"><button>REGISTER</button></a>
      <p></p>
      <br>
    </div>
  <p></p>
  <p></p>
  <br>
</center>
{%endblock%}