{%extends 'app1/home.html'%}
{%load static%}
{%block body_block%}
<p></p>
<br><center><h1>Videos</h1></center>

<p></p>
<p></p>
<br>
<center>
<iframe width="400" height="250" src="https://www.youtube.com/embed/XKHEtdqhLK8?si=ibOrpHNu8vhZ0NYb" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="400" height="250" src="https://www.youtube.com/embed/rfscVS0vtbw?si=gRUM7H-SEDFvFOZb" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="400" height="250" src="https://www.youtube.com/embed/E9U-EBG8jVk?si=fWhmfl6z6LzVobXc" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p></p>
<p></p>
<br>
<iframe width="400" height="250" src="https://www.youtube.com/embed/mAtkPQO1FcA?si=ATghzwLrge1ZHjjB" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="400" height="250" src="https://www.youtube.com/embed/x1RCEvYRTz0?si=QT2u9ox7mkccmOSI" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="400" height="250" src="https://www.youtube.com/embed/hBh_CC5y8-s?si=hI39ia_akkjTcsrt" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p></p>
<p></p>
<br>
<iframe width="400" height="250" src="https://www.youtube.com/embed/8KaJRw-rfn8?si=uazW-LLQdQDc4On_" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="400" height="250" src="https://www.youtube.com/embed/v0fh9YvF84s?si=RIKgxaXJ4MMwETjc" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="400" height="250" src="https://www.youtube.com/embed/PRSyHTajxPk?si=-C3_L5kbf2tci9FR" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<p></p>
<p></p>
<br>
</center>
{%endblock%}